* {
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background: linear-gradient(to bottom, rgb(44, 44, 150), #6390f04b 80%, rgb(147, 84, 172))
}
.titulo {
    text-align: center;
    font-family: 'Engagement', cursive;
    font-size: 150px;
    font-weight: 5000;
    color: #01020fe8;
}

.foto {
    width: 100px;
    height: 100px;
}

.container-fluid{
   
   font-size: 30px;
    font-weight: 700;
    font-family: 'Verdana';
    font-style: Italic;
    
}
.card-img{
    width: 100%;
    border: solid 0.5rem rgb(48, 14, 141);

}
.img-container2{
    background-color: green;
     border: solid 0.5rem rgb(48, 14, 141);
    width: 100%;
    height: 150%;
    margin:auto;
    padding-bottom: 5%;
 
    }
.img-container {
    width: 100%;
    height: 100%;
    margin:auto;
    border: solid 0.5rem rgb(48, 14, 141);
    }

.img-container1 {
    width: 60%;
    height: 50%;
    border: solid 0.5rem rgb(48, 14, 141);
    margin:auto;

}
.card-text {
    text-align: justify;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 30px;
}

.card-tittle {
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 40px;
}
