* {
  margin: 0;
  border: 0;
  padding: 0;
}

.titulo {
  font-family: Haettenschweiler;
  font-size: 40px;
}

body {
  font-family: "Raleway", sans-serif;
}



#inicial-Section {
  background-image: url("../img/fotoCV.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.prese {
  text-align: center;
}

.icono {

  width: 200px;
  height: 150px;
}

.texto {
  font-family: "Raleway", sans-serif;
  text-align: center;
}


#Contacto form label {
  font-weight: 700;
  color: #066f27;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand {
    width: 100px;
  }
}
.texfoo{
  text-align: center;

}
